{{ partial "giscus" . }}

<p class="noPhun copyright">{{ .Site.Copyright }}</p>

<div class="SNS">
    <a href="https://twitter.com/kaeru2193" target="_blank"><img class="SNSLink" src="/logo/X.svg"></a>
    <a href="https://www.youtube.com/channel/UCohJlUTohjjcikJPD7b2mdA" target="_blank"><img class="SNSLink" src="/logo/yt.svg"></a>
    <a href="https://discord.gg/tHhA4bBYap" target="_blank"><img class="SNSLink" src="/logo/dc.svg"></a>
    <a href="https://kaeru2193.net" target="_blank"><img class="SNSLink" src="/logo/kuaail.svg"></a>
    <a href="https://phunworld.miraheze.org" target="_blank"><img class="SNSLink" src="/logo/phun.svg"></a>
</div>