html {
  background-color: linen;
  color: #222;
  font-family: "PhunWrite", sans-serif;
  font-size: 20px;
}

body {
  line-height: 1.6rem;
  letter-spacing: 0.2em;
  margin: auto 20px;
  writing-mode: vertical-rl;
  height: 90vh;
  overflow-wrap: break-word;
  overflow-y: hidden;
  word-break: break-all;
}

.siteTitle, .posts {
  line-height: 160%;
}

.siteTitle {
  font-size: 30px;
  background-color: #014f41;
  color: linen;
  height: fit-content;
  position: relative;
  padding: 5px;
  margin: 0 20px;
}

.siteTitle::before {
  content: "";
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  border: solid 4px #014f41;
}

p {
  padding: 5px 0;
  font-size: 20px;
}

ol, ul {
  list-style: none;
}

ol li, ul li {
  position: relative;
}

ol li::before, ul li::before {
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: center;
  padding-top: 0.2rem;

  font-weight: bold;
  text-align: center;
  
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  box-sizing: border-box;

  top: -1.3rem;
  transform: scale(0.8) translate(0, -0.5rem);
}

ul > li::before {
  content: "";
}

ol li::before {
  content: attr(data-index);
}

.whiteMarker > li::before {
  background-image: url("/svg/marker_white.svg");
  color: #222
}

.blackMarker > li::before {
  background-image: url("/svg/marker_black.svg");
  color: linen
}

ul, ol, p {
  margin: 0 5px;
}

ul ul, ul ol,
ol ol, ol ul, li p  {
  margin: 0;
}

p + p {
  margin-right: 1.5em;
}

p:has(+ p) {
  margin-left: 1.5em;
}

.noPhun {
  line-height: normal;
  letter-spacing: normal;
}

.posts {
  font-size: 28px;
  padding: 5px 0;
  line-height: 160%;
  border-right: #222 solid 1px;
}

#contentBox > p, #contentBox > ul, #contentBox > ol {
  background-image: linear-gradient(90deg, #666 1px, transparent 1px);
  background-size: 1.6rem 100%;
  padding-left: 1px;
  background-repeat: repeat-x;
  background-origin: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: initial;
  margin: 0;
  line-height: 160%;
}

h1, h3, h4, h5, h6 {
  margin-top: 5px;
}

h2 {
  font-size: 28px;
  border: solid #222;
  border-width: 0 3px 0 3px;
  text-align: center;
}

h2::before {
  content: url(/svg/h2bracket_start.svg);
  margin-bottom: 20px;
}

h2::after {
  content: url(/svg/h2bracket_end.svg);
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  background-color: #222;
  color: linen;
  margin: 8px 8px 0 8px;
  padding: 1em 0;
  height: fit-content;
  position: relative;
}

h3::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border: solid 3px #222;
}

h4 {
  font-size: 22px;
  text-align: left;
  background-color: #222;
  color: linen;
  height: fit-content;
  padding: 5px 0;
}

h5 {
  font-size: 22px;
  border: 2px #222 solid;
  height: fit-content;
}

h6 {
  font-size: 22px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 1em;
  border: 1px #222 solid;
}

td, th {
  padding: 5px;
  border: 1px #222 solid;
}

td {
  border: 1px #222 solid;
}

th {
  background-color: #ccc;
  color: #222;
}

blockquote {
  margin: 1em 10px auto 10px;
  border-top: 10px #222 solid;
}

.writeIcon {
  margin-bottom: 10px;
}

.postContainer {
  margin: auto 5px 0 5px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.line {
  border-right: #222 3px solid;
  margin: 0 5px;
}

figure {
  margin: 1.5em 1.5em;
  display: inline-block;
  height: fit-content;
}

.imgCap {
  writing-mode: horizontal-tb;
  letter-spacing: normal;
}

.earthQuote, pre {
  font-size: 16px;
  background-color: #222;
  color: linen;
  white-space: pre-wrap;
  margin: 0;
}

.earthQuote {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace, sans-serif;
}

span.earthQuote {
  margin: 3px auto;
  padding: 3px 1px;
}

.phun {
  font-family: "PhunWrite";
}

header {
  margin-left: 1rem;
}

footer {
  margin: 0;
}

main {
  border: #222 3px solid;
  padding: 0;
}

a {
  color: #366ad3;
  text-decoration: none;
}
a:hover {
  color: #ee5533;
}

.phunListNum {
  margin-top: -2em;
}

footer {
  margin-right: 25px;
}

.SNS {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  border-right: 2px #222 solid;
  height: 75vh;
  margin: auto;
}

.SNSLink {
  height: 35px;
  margin: 7px 7px;
}

.copyright {
  text-align: center;
  margin: 0 30px 0 10px;
}

@font-face {
  font-family: "PhunWrite";
  src: url(/fonts/PhunWrite-Regular.woff);
}